body{
	background-color: #f5f2f2;
	font:yellow;
	
}
.container{
	background-color: #e1f6fa;
	margin: 2px auto;
	
	
	
}
aside{
	background-color:#dff5f3;
	color:#000000; 
}
.nav_menu{
	list-style: none;
	margin:0;
	padding:0;

}

.no-outline {
	outline : none;
}

.nav_menu li{
	display:inline;

	
}
.all-browsers{
	margin: 0;
	padding: 5px;
	background-color: lightgray;
	width:88%;

}
.all-browsers > h1, .browser{
	margin: 10px;
	padding: 5px;
}
.browser{
	 background: white;

}
.aside-style{
	float:right;
	width:10%;
	padding:10px;
	
	border: 1px solid black;
}
form{
	
	width:25%;
}
legend{
	background-color: #f1f1c1;
	border:2px solid black;
}
input{
	margin:5px;
}
video{
	width="320px" ;
	height="240px";

}
.submit-style{
	background-color: #173f5e;
	color: white;
	
}
table{
	border-collapse:collapse;
	padding:5px;
	text-align:center;
	background-color: #f1f1c1;
}
th, td{
	padding: 10px;
}
details{
	border:2px solid black;
}